{% extends 'base.html.twig' %}

{% block title %}Garage VParrot - Profil{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('profile') }}
    {% endblock %}
{% block body %}
    <div id='profile'></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('profile') }}
    {% endblock %}
{% endblock %}
