{% extends 'base.html.twig' %}

{% block title %}Garage VParrot - About{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('about') }}
    {% endblock %}
{% block body %}
    <div id='about'></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('about') }}
    {% endblock %}
{% endblock %}
