{% extends 'base.html.twig' %}

{% block title %}Garage VParrot - Accueil{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}
{% block body %}
    <div id='home'></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}
{% endblock %}
