{% extends 'base.html.twig' %}

{% block title %}Garage VParrot - Services{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('services') }}
    {% endblock %}
{% block body %}
    <div id='services'></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('services') }}
    {% endblock %}
{% endblock %}
