body {
    margin: 0;
    background-color: #F2F2F2;
}

#home {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #262526;
    color: #F2F2F2;
}  

ul {
        display: flex;
        gap: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.link {
    color: #F2F2F2;
}

/* Main */

main {
    flex-grow: 1;
}

.hero-banner {
    background-image: url("../images/garage.jpg");
    background-size: cover;
}

.black-filter {
    background-color: rgba(38, 37, 38, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-around;
    color: #F2F2F2;
}

.hero-banner-infos {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
}

.btn-contact {
    display: flex;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 10px;
}

.btn-contact a {
    color: #262526;
}
section {
    padding: 20px 100px;
}

.bg-dark {
    background-color: #262526;
    color:#F2F2F2;
}

.link-primary {
    color:#D92332;
}
.link-accent {
    color:#FFC107;
}

.about, .services, .second-hand, .contact {
    display: flex;
    align-items: center;
    gap: 30px;
}

img {
    width: 200px;
}

footer {
    background-color: #262526;
    color: #F2F2F2;

}

.footer-infos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.footer-bottom-infos {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}