body {
    margin: 0;
    background-color: #F2F2F2;
    height: 100vh;
    width: 100%;
}

#home {
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #262526;
    position: sticky;
    top: 0;
}  

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.link {
    color: #F2F2F2;
}

.link:hover {
    text-decoration: underline;
    color:#FFC107;
}

.nav-toggler {
    display: none;
}

/* Main */

main {
    flex-grow: 1;
}

.hero-banner {
    background-image: url("../images/garage.jpg");
    background-size: cover;
}

.black-filter {
    background-color: rgba(38, 37, 38, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-around;
    color: #F2F2F2;
    padding: 30px 0;
}

.hero-banner-infos {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
}

.btn-contact {
    display: flex;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.btn-contact a {
    color: #262526;
}

section {
    padding: 20px 100px;
}

.bg-dark {
    background-color: #262526;
    color: #F2F2F2;
}

.link-primary {
    color:#D92332;
}

.link-accent {
    color:#FFC107;
}

.about, .services, .second-hand, .contact {
    display: flex;
    align-items: center;
    gap: 30px;
}

img {
    width: 200px;
}

footer {
    background-color: #262526;
    color: #F2F2F2;
}

.footer-infos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.footer-bottom-infos {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

@media screen and (max-width: 900px) {
    
    nav {
        display: none;
    }

    nav.active {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: absolute;
        top: 60px;
        width: 100%;
        background-color: #262526;
        height: 100vh;
    }

    ul {
        flex-direction: column;
        gap: 10px;
    }

    .footer-infos {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-bottom-infos {
        gap: 10px;
        font-size: 0.9rem;
    }

    .nav-toggler {
        height: 50px;
        width: 50px;
        border:none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#262526;
    }

    .line {
        position: absolute;
        display: block;
        width: 50px;
        height: 2px;
        background-color: #F2F2F2;
        transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    }

    .l1 {
        transform: translateY(-10px);
    }

    .l3 {
        transform: translateY(10px);
    }

    .nav-toggler.active .l1 {
        transform: translateY(0px) rotate(135deg);
    }

    .nav-toggler.active .l2 {
        opacity: 0;
    }

    .nav-toggler.active .l3 {
        transform: translateY(0px) rotate(-135deg);
    }
}
