section {
    padding: 20px 100px;
}

section p {
    text-align: justify;
}

h2 {
    text-align: left;
}

@media screen and (max-width: 900px) {
    img {
        display: none;
    }

    h2 {
        text-align: center;
    }

    .hero-banner-infos {
        justify-content: center;
        flex-direction: column;
    }

    .hero-banner-infos p {
        width: 100%;
        text-align: center;
    }

    section {
        padding: 20px 50px;
        text-align: center;
    }

}
