{% extends 'base.html.twig' %}

{% block title %}Garage VParrot - Contact{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('contact') }}
    {% endblock %}
{% block body %}
    <div id='contact'></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('contact') }}
    {% endblock %}
{% endblock %}
